/* CSS designed by Caitlin Macleod (u5351248) for an ANU DESN1001 assignment, 2017.
sources referenced:
	
*/

body {
	font-family: 'Fira Sans', sans-serif;
	background-color: #d0e3ef;
}

/* layout styling */
.container {
	max-width: 720px;
	margin: 0 auto 0 auto;
}

blockquote.text-quote {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 20px;
}

/* hover navigation bar */
.hover-nav {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100vw;
	padding: 0 0 0 0;
	min-height: 48px;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 5;
}

.hover-nav a:hover {
	background-color: #d0e3ef;
	color: #21426f;
}

.hover-nav #hover-title {
	font-weight: bold;
	color: #3e3e3e;
	text-decoration: none;
	margin: 0;
}

.hover-text {
	max-width: 720px;
	margin: 0 auto 5px auto;
}

#introduction { /* to offset the floating menu */
	margin-top: 64px;
}

/* if screen is narrow (primarily fixing hover nav) */
@media only screen and (max-width: 500px){
	.hover-nav {
		position: inherit;
		margin-top: -8px;
		margin-left: -8px;
	}

	#introduction {
		margin-top: inherit;
	}

	blockquote .text-quote{
		padding: 10px;
		margin-left: 20px;
		margin-right: 20px;
	}
}

/* content formatting */
body {
	color: #3e3e3e;
}

a {
	color: #21426f;
}

a:hover {
	color: #2f5d9e
}

blockquote.twitter-tweet {
	margin: 0 auto 0 auto;
}

.embedded-figure {
	margin: 0;
}

figcaption {
	margin-bottom: 24px;
	font-style: italic;
}

figure {
	margin-left: 0;
	margin-right: 0;
}

a.tooltip-definition {
	text-decoration: none;
	background-color: rgba(32, 107, 153, 0.2);
}

img.single-screenshot {
	max-width: 100%;
	border-radius: 5px;
}
